.CFcontain {
    width: 90%;
    margin: 0 auto;
}

.CF {
    width: 80%;
    background-color: none;
    display: flex;
    justify-content: center;
}

.CFinput {
    width: 100%;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px 0 0 5px;
    padding: 0.4rem;
}

.CFbtn {
    background-color: none;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 0 5px 5px 0;
    padding: 0.4rem 1rem;
}