/* .CommentContain { 
    width: 90%;
    margin: 0 auto;
    padding-top: 0.8rem;
    background-color: white;
} */

.CommentFlex {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.CommentLeft {
    display: flex;
}

.CommentContent {
    margin: 0;
}

.CommentRight {
    position: relative;
    right: 0;
    top: 0;
}