.Nav {
    background-color: #595B5D;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavLink {
    text-decoration: none;
    list-style: none;
    padding: 0 0.8rem 0 0.8rem;
    color: #fafafa;
    font-size: 1.2rem;
}

.NavLink:hover {
    color: #146C78;
    text-decoration: none;
}

.NavDropdown {
    background-color: #595B5D;
    z-index: 100;
}