.Nav {
    background-color: #595B5D;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavLeft {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.LogoContain {
    margin: 1rem;
}

.Logo {
    color: #fafafa;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

/* .Logo h1 {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
} */

.Navlinks {
    margin: 1rem;
}

.NavLink {
    text-decoration: none;
    list-style: none;
    padding: 0 0.8rem 0 0.8rem;
    color: #fafafa;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;
}

.Navlist {
    list-style: none;
    display: flex;
}
