.Nav {
    background-color: #595B5D;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    margin: 1rem;
}

.Logo h1 {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

.Navlinks {
    margin: 1rem;
}

.Navlink {
    list-style: none;
    display: flex;
}

.Navlink li {
    padding: 0 0.8rem 0 0.8rem;
}

.Navlink li a {
    text-decoration: none;
    color: #fafafa;
    font-size: 1.2rem;
}

