.PPcontain {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  font-family: "Titillium Web", sans-serif;
}

.PPflex {
  display: flex;
  justify-content: space-between;
}

.PPuser {
  height: 16rem;
  margin: 1rem;
  border-right: 1px solid rgb(190, 190, 190);
}

.PPtracks {
  height: 20rem;
  border-top: 1px solid rgb(190, 190, 190);
  margin: 1rem;
}

.PPleft {
  width: 65%;
}

.PPright {
  width: 30%;
}

.PPstats {
  /* border: 1px solid rgb(190, 190, 190); */
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 1rem;
  color: rgb(190, 190, 190);
}

.PPstatTitle {
  margin: 0;
}

.PPstatNo {
  margin: 0;
  font-size: 2rem;
}

.PPstat {
  border-right: 1px solid rgb(190, 190, 190);
  padding: 0 0.8rem;
}
