.pagecontain {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

.topcontain {
    height: 20rem;
}

.audio {
    height: 100%;
}

.interact {
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.ibtn {
    margin: 0 0.5rem;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    padding: 0.2rem 1rem;
    cursor: pointer;
}

.ibtn i {
    padding: 0 0.4rem 0 0;
}

.midcontain {
    display: flex;
    padding: 1rem;
}

.UserInfo {
    display: flex;
    flex-direction: column;
}

.ibtn:hover {
    border: 1px solid rgb(140, 140, 140);
    background-color: #146C78;
    color: white;
}